/* Applying font  */
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Poppins:ital,wght@0,400;0,500;0,700;1,100&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
/* Font applied successfully */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Nav bar */
.navigation{
    background-color: navy;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    position: relative;
    margin:10px;
} .navigation .brand-name{
    font-family: 'Benne', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0rem 1rem;
    text-align: left;
    position: absolute;
}
.navigation ul {
    list-style: none;
    text-align: right;
}
.navigation ul li{
    text-align: right;
    display: inline-block;
    padding: 0 0.5rem;
    /* border:1px solid white; */
    border-radius: 10px;
}
.navigation ul li a{
    color:white;
    text-decoration: none;
}
.secondary-link:hover{
    color: white;
    padding: 0 0.5rem;
    background-color: black;
    border-radius: 10px;
}
/* Nav menu completed */
/* Section */
section{
    height: 50%;
    /* margin-left: 10px;
    margin-bottom: 13rem; */
}
.section1{
    display: flex;
    width:auto;
    text-align: center;
    padding:1rem;
}
.section1 .child{
    padding:50px;
    background-color: burlywood;
    border: 2px inset black;
    border-radius: 1rem;
    width:50%;
    margin: 10px;
    line-height: 30px;
}
.section1 .child p a{
    color: black;
}
.section1 .child p a:hover{
    background-color: black;
    color:whitesmoke;
    padding: 3px;
    border-radius:1rem;
    text-decoration: none;
    opacity: 0.6;
}
.section2{
    display: flex;
    width:auto;
    text-align: center;
}
.section2 .child{
    padding:50px;
    background-color: burlywood;
    border: 2px inset black;
    border-radius: 1rem;
    width:50%;
    margin: 10px;
    line-height: 30px;
}
.section2 .child p a{
    color: black;
}
.section2 .child p a:hover{
    background-color: black;
    color:whitesmoke;
    padding: 3px;
    border-radius:1rem;
    text-decoration: none;
    opacity: 0.6;
}
footer{
    margin:10px;
    background-color: black;
    color: white;
    padding: 1rem 1rem;
    text-align:center;
    border-radius: 1rem;
    line-height: 25px;
}
footer div h3{
    font-weight: 500;
    font-size: medium;
    padding: 0.5rem;
}
footer ul li{
    display: inline;
    text-align:center;
    padding: 2rem;
}
footer ul li a{
    text-decoration: none;
    color: white;
}
/* Footer completed */